images/uice_main.png
images/uice_icon.png
images/title_icon.png
images/synth.png
images/logo.png
images/instagram_logo.svg
images/index_bg.png
images/bayes.png
workspace.code-workspace
index3.html
images/neural.gif
images/jupyter.png
images/165423685_3370328116402084_2626117151340986428_n.png
images/channels.png
images/neocognitron.PNG
.gitignore
images/cnn_example.png
