@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/lora/v17/0QI6MX1D_JOuGQbT0gvTJPa787weuxJBkq0.woff2')
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

#date,
.article-footer,
#rate-article p,
.footer,
.form-cont,
#subscribe,
#submit-button {
  font-family: 'Fjalla One', sans-serif;
}

.author,
.sidebar nav,
.article_links p {
  font-family: 'Fira Sans', sans-serif;
}

.main_content h1,
.main_content h2 {
  font-family: 'Old Standard TT', serif;
}

.main_content p,
#subscription {
  font-family: 'Lora';
}

#dark-theme {
  --clr--text-prim: #fff;
  --clr--text-side: #fff;
  --clr--text-arti: #fff;
  --clr-link: #ff2ac1;
  --clr--accent: #ff2ac1;
  --clr--accent-sec: #b51c81;
  --clr--night-hov: #35ee73;
  --clr--arti--footer: #ff2ac1;
}

#light-theme {
  --clr--text-prim: #000;
  --clr--text-side: rgb(83, 83, 83);
  --clr--text-arti: #fff;
  --clr-link: #da5700;
  --clr--accent: #06d5e4;
  --clr--accent-sec: #da5700;
  --clr--night-hov: #35ee73;
  --clr--arti--footer: #b51c81;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: color 0.5s ease 0.2s;
  transition: background-color 0.5s ease 0.2s;
  outline: 1px solid purple;
}

.grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 0.9fr 1.8fr 0.9fr;
  grid-template-rows: 6rem 1fr 9rem;
  grid-template-areas:
    'header header header'
    'sidebar main_content article_links'
    'footer footer footer';
  gap: 0.3rem;
}

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 6rem;
}

.head-cont {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

#night-mode {
  width: 2.5rem;
  background: none;
  border: none;
  margin: 0 0 0 5vw;
}

#night-mode:focus {
  outline: none;
}

#night-mode svg {
  cursor: pointer;
  width: 100%;
}

#night-mode svg:hover path {
  fill: var(--clr--night-hov);
  transition: all 0.5s ease 0.1s;
}

#date {
  color: #fff;
  font-size: 1.3rem;
  margin-top: 2.5vh;
}

#logo {
  width: 28rem;
}

.main_content {
  grid-area: main_content;
  display: flex;
  flex-direction: column;
  margin: 5rem 0.5rem;
  text-align: left;
}

#subscription {
  text-align: center;
  margin: 2.5rem 0 5rem 0;
  font-size: 1.4rem;
  color: var(--clr--text-prim);
  font-weight: 600;
}

.author {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}

.main_content .author h4,
.main_content .author a {
  color: var(--clr--text-prim);
  font-size: 1rem;
  font-weight: 400;
}

#social ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-right: 2vw;
}

#social li {
  margin: 0 1.2rem;
}

#social svg {
  width: 2rem;
  height: auto;
}

#social path {
  fill: var(--clr--accent);
}

.media {
  width: 100%;
  height: auto;
  margin: 1.5rem 0;
}

.main_content {
  color: var(--clr--text-prim);
}

.main_content h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.main_content h2 {
  font-size: 2rem;
  margin: 3rem 0 2rem;
}

.main_content p {
  font-size: 1.5rem;
  margin: 2rem 0;
}

.main_content section a:hover,
.article-footer a:hover {
  filter: brightness(1.5);
}

.main_content > article a {
  font-size: 1.5rem;
  color: var(--clr-link);
}

.main_content li {
  font-size: 1.7rem;
  margin: 1rem 0;
}

.main_content ol {
  list-style-position: inside;
}

.article-footer {
  text-align: center;
}

#backtop {
  margin: 4rem 0;
}

#backtop > a {
  font-size: 1.6rem;
  color: var(--clr--arti--footer);
}

#rate-article p {
  text-decoration-color: var(--clr--arti--footer);
  font-size: 1.4rem;
  color: var(--clr--arti--footer);
}

#rating {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

#rating li {
  margin: 0 3rem;
}

#dislike {
  transform: scale(1, -1);
}

.rating-button svg {
  cursor: pointer;
  border-radius: 0.25vw;
}

.rating-button svg path {
  transition: fill 0.3s ease 0s;
  fill: var(--clr--arti--footer);
}

.rating-button {
  background: none;
  border: none;
}

.rating-button:focus {
  outline: none;
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  justify-content: flex-end;
}

.sidebar nav {
  position: sticky;
  top: 15rem;
  max-height: 15rem;
  border-radius: 0.2vw;
  margin: 28rem 6vw 0 0.5rem;
  color: var(--clr--text-side);
}

.sidebar nav p {
  font-size: 1.1vw;
}

.sidebar ol {
  list-style-position: inside;
  margin-top: 2.5vh;
}

.sidebar li {
  margin: 2vh 0;
  font-size: 1vw;
}

.sidebar li a {
  font-size: 1vw;
  text-decoration: none;
  color: var(--clr--text-side);
}

.sidebar li a::after {
  content: '';
  display: block;
  width: 0;
  height: 0.1vh;
  background: linear-gradient(
    90deg,
    rgba(102, 41, 82, 0.5018382352941176) 0%,
    rgba(102, 41, 82, 1) 50%,
    rgba(102, 41, 82, 0.5046393557422969) 100%
  );
  transition: width 0.4s;
}

.sidebar li a:hover {
  color: var(--clr--accent);
  transition: all 0.4s ease 0s;
}

.sidebar li a:hover::after {
  width: 100%;
}

.article_links {
  grid-area: article_links;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article_links p {
  align-items: center;
  font-size: 1.1vw;
  color: var(--clr--text-arti);
  text-align: left;
  margin: 0.6vh 1.2vh;
}

.article_links a {
  text-decoration: none;
}

.article_links ul {
  position: sticky;
  top: 9rem;
  list-style: none;
  margin: 27rem 1.5vw 4rem;
}

.article_links li {
  display: flex;
  flex-direction: column;
  margin-bottom: 3vw;
  background-color: var(--clr--accent-sec);
  border-radius: 0.5vh;
}

.article_links img {
  width: 100%;
  height: auto;
  border-radius: 0.5vh 0.5vh 0 0;
}

#subscribe {
  font-size: 2rem;
  text-align: center;
  color: var(--clr--text-prim);
  border-bottom: 0.1vw solid var(--clr--text-prim);
}

fieldset {
  border: none;
}

legend {
  font-size: 1.3rem;
  text-decoration: underline var(--clr--text-prim);
}

.form-cont {
  display: flex;
  flex-direction: column;
  color: var(--clr--text-prim);
  margin: 5rem 22vw;
}

.form-row {
  display: flex;
  margin-bottom: 5rem;
}

.form-column {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.form-cont label {
  font-size: 1.6rem;
  line-height: 2;
  margin: 1rem 0 1rem 1.2rem;
}

.form-cont input:not([type='submit']):not([type='radio']),
.form-cont select {
  font-size: 1rem;
  width: 70%;
  padding: 1rem 0 1rem 1rem;
  margin: 0 1rem;
  border: 0.1vw solid var(--clr--accent);
  border-radius: 0.2vw;
}

#survey {
  justify-content: center;
  width: 100%;
}

#survey > select {
  margin: 1.5rem auto;
}

#survey > fieldset {
  display: flex;
  justify-content: center;
}

#survey span {
  display: flex;
  width: 8rem;
  align-items: center;
  margin: 0 2rem;
}

#survey span > label {
  font-size: 1.4rem;
}

input[type='radio'] {
  transform: scale(1.5);
  width: fit-content;
  margin-left: 2rem;
}

#submit-button {
  margin: 10rem auto 1rem;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #b51c81;
  border: none;
  border-radius: 3rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

#submit-button:focus {
  outline: none;
}

#submit-button:hover {
  cursor: pointer;
  background-color: #06d5e4;
  transform: scale(1.1);
  letter-spacing: 0.2rem;
  transition: all 0.3s ease 0.1s;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  background: rgb(181, 28, 129);
  background: linear-gradient(
    90deg,
    rgba(181, 28, 129, 1) 0%,
    rgba(121, 9, 60, 1) 100%
  );
  font-size: 1.2rem;
  color: var(--clr--text-arti);
}

@media only screen and (max-width: 550px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 6rem 1fr 50em 9rem;
    grid-template-areas:
      'header'
      'main_content'
      'article_links'
      'footer';
  }

  #logo {
    width: 55%;
  }

  #date {
    display: none;
  }

  #social li {
    margin: 0 0.8rem;
  }

  #social svg {
    width: 5.5vw;
  }

  .form-cont {
    margin: 5rem 5vw;
  }

  .form-row {
    flex-direction: column;
  }

  .form-column {
    width: 100%;
  }

  .form-cont input:not([type='radio']):not([type='submit']),
  .form-cont select {
    width: 75%;
  }

  #survey select {
    margin-left: 1rem;
  }

  .sidebar {
    display: none;
  }

  .article_links ul {
    margin: 0 0 2rem;
    position: unset;
  }

  .article_links li {
    width: 90%;
    margin: 2rem auto;
  }
  .article_links p {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 992px) and (min-width: 551px) {
  .grid {
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 6rem 1fr 100vw 9rem;
    grid-template-areas:
      'header header'
      'sidebar main_content'
      'sidebar article_links'
      'footer footer';
  }

  #logo {
    width: 55%;
  }

  .form-cont {
    margin: 5rem 6vw;
  }

  .sidebar li,
  .sidebar li a {
    font-size: 2vw;
  }

  .sidebar nav p {
    font-size: 2.5vw;
  }

  .article_links ul {
    margin: 0 0;
    position: unset;
  }

  .article_links li {
    width: 75%;
    margin: 2rem auto;
  }
  .article_links p {
    font-size: 2.5vw;
  }
}
