@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

:root {
  --clr--text-prim: #000;
  --clr--text-side: rgb(83, 83, 83);
  --clr--text-arti: #fff;
  --clr--accent: #06d5e4;
  --clr--accent-sec: #da5700;
  --clr--night-hov: #35ee73;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  transition: color 0.5s ease 0.2s;
  transition: background-color 0.5s ease 0.2s;

  outline: 0.1vw solid purple;
}

.grid {
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  display: grid;
  grid-template-columns: 0.9fr 2fr 0.9fr;
  grid-template-rows: 6rem 1fr 9rem;
  grid-template-areas:
    'header header header'
    'sidebar main_content article_links'
    'footer footer footer';
  gap: 0.3rem;
}

.header {
  grid-area: header;
  background-color: #662952;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 6rem;
}

.head-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
}

#night-mode {
  width: 2.5rem;
  background: none;
  border: none;
  margin-top: 2.5vh;
}

#night-mode:focus {
  outline: none;
}

#night-mode svg {
  cursor: pointer;
  width: 50%;
}

#night-mode svg:hover path {
  fill: var(--clr--night-hov);
  transition: all 0.2s ease 0.2s;
}

#date {
  color: #fff;
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.3vw;
  margin-top: 2vh;
}

#logo {
  width: 20%;
}

.main_content {
  grid-area: main_content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5rem 0.5rem;
  font-family: 'Old Standard TT', serif;
  text-align: left;
}

.author {
  display: flex;
  justify-content: space-between;
  font-family: 'Fira Sans', sans-serif;
  margin: 1rem 0;
}

.main_content .author h4,
.main_content .author a {
  color: var(--clr--text-prim);
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
}

#social ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin-right: 2vw;
}

#social li {
  margin: 0 1vw;
  width: 100%;
  height: auto;
}

#social svg {
  width: 1.5vw;
  height: auto;
}

#social path {
  fill: var(--clr--accent);
}

.media {
  width: 100%;
  height: auto;
  margin: 1.5rem 0;
}

.main_content h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: var(--clr--text-prim);
}

.main_content h2 {
  font-size: 2rem;
  margin: 3rem 0 2rem;
  color: var(--clr--text-prim);
}

.main_content p {
  font-size: 1.7rem;
  margin: 2rem 0;
  color: var(--clr--text-prim);
}

.main_content a {
  font-size: 1.7rem;
  color: var(--clr--text-prim);
}

.main_content li {
  font-size: 1.7rem;
  margin: 1rem 0;
  color: var(--clr--text-prim);
}

.main_content ol {
  list-style-position: inside;
  color: var(--clr--text-prim);
}

#backtop {
  display: flex;
  justify-content: center;
  margin: 5rem 0;
}

#backtop a {
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.6rem;
  text-align: center;
  color: #b51c81;
}

#rate-article p {
  text-decoration-color: #b51c81;
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.3rem;
  text-align: center;
  color: #b51c81;
}

#rating {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 2rem 15vw;
}

#subscribe {
  font-family: 'Fjalla One', sans-serif;
  font-size: 2rem;
  text-align: center;
  color: var(--clr--text-prim);
  border-bottom: 0.1vw solid var(--clr--text-prim);
}

fieldset {
  border: none;
}

.form-cont {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Fjalla One', sans-serif;
  margin: 5rem 22vw;
}

legend {
  font-size: 1.3rem;
  color: var(--clr--text-prim);
  text-decoration: underline var(--clr--text-prim);
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5rem;
}

.form-column {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.form-cont label {
  font-size: 1.6rem;
  line-height: 2;
  margin: 1rem 0;
  margin-left: 1.2rem;
  color: var(--clr--text-prim);
}

.form-cont input,
.form-cont select {
  width: 70%;
  padding: 1rem 0 1rem 1rem;
  margin: 0 1rem;
  border: 0.1vw solid var(--clr--accent);
  border-radius: 0.2vw;
}

#survey {
  justify-content: center;
  width: 100%;
}

#survey > select {
  margin: 1.5rem auto;
}

#survey > fieldset {
  display: flex;
  border: none;
  justify-content: center;
}

#survey span {
  display: flex;
  width: 8rem;
  align-items: center;
  margin: 0 2rem;
}

#survey span > label {
  font-size: 1.4rem;
}

input[type='radio'] {
  transform: scale(1.5);
  width: fit-content;
  margin-left: 2rem;
}

.rating-button svg {
  cursor: pointer;
  border-radius: 0.25vw;
}

.rating-button svg path {
  transition: fill 0.3s ease 0s;
  fill: #b51c81;
}

.rating-button {
  background: none;
  border: none;
}

.rating-button:focus {
  outline: none;
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.sidebar nav {
  position: sticky;
  top: 15rem;
  max-height: 20rem;
  padding: 1vh 0.5vw;
  border-radius: 0.2vw;
  margin-right: 2vw;
  margin-top: 28rem;
  font-family: 'Fira Sans', sans-serif;
}

.sidebar nav p {
  font-size: 1.1vw;
  color: var(--clr--text-side);
}

.sidebar ol {
  list-style-position: inside;
  margin-top: 2.5vh;
}

.sidebar li {
  margin: 2vh 0;
  color: var(--clr--text-side);
  font-size: 1vw;
}

.sidebar li a {
  font-size: 1vw;
  text-decoration: none;
  color: var(--clr--text-side);
}

.sidebar li a::after {
  content: '';
  display: block;
  width: 0;
  height: 0.1vh;
  background: linear-gradient(
    90deg,
    rgba(102, 41, 82, 0.5018382352941176) 0%,
    rgba(102, 41, 82, 1) 50%,
    rgba(102, 41, 82, 0.5046393557422969) 100%
  );
  transition: width 0.4s;
}

.sidebar li a:hover {
  color: var(--clr--accent);
  transition: all 0.4s ease 0s;
}

.sidebar li a:hover::after {
  width: 100%;
}

.article_links {
  grid-area: article_links;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article_links p {
  align-items: center;
  font-family: 'Fira Sans', sans-serif;
  font-size: 1.1vw;
  color: var(--clr--text-arti);
  text-align: left;
  margin: 0.5vw 1vw;
}

.article_links a {
  text-decoration: none;
}

.article_links ul {
  position: sticky;
  top: 9rem;
  list-style: none;
  margin: 0 1.5vw;
  margin-top: 27rem;
  margin-bottom: 1.5rem;
}

.article_links li {
  display: flex;
  flex-direction: column;
  margin-bottom: 3vw;
  background-color: var(--clr--accent-sec);
  box-shadow: 0.1vw 0.1vw rgba(0, 0, 0, 0.034);
  border-radius: 0.2vw;
}

.article_links img {
  width: 100%;
  height: auto;
  box-shadow: 0.1vw 0 rgba(0, 0, 0, 0.034);
  border-radius: 0.2vw 0.2vw 0 0;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  background: rgb(181, 28, 129);
  background: linear-gradient(
    90deg,
    rgba(181, 28, 129, 1) 0%,
    rgba(121, 9, 60, 1) 100%
  );
  font-family: 'Fjalla One', sans-serif;
  font-size: 1.2rem;
  color: var(--clr--text-arti);
}

@media only screen and (max-width: 550px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 15em 1fr 50em 6rem;
    grid-template-areas:
      'header'
      'sidebar'
      'main_content'
      'article_links'
      'footer';
  }

  .main_content {
    margin: 0 0.5rem;
  }

  #logo {
    width: 55%;
  }

  #date {
    font-size: 1.6vh;
  }

  img {
    max-width: 100%;
  }

  .main_content .author {
    flex-wrap: wrap;
  }

  #social ul {
    margin-right: 2rem;
  }

  #social li {
    margin: 0 0.8rem;
  }

  #social svg {
    width: 5vw;
    height: auto;
  }

  #backtop {
    margin-top: 2rem;
  }

  .form-cont {
    margin: 5rem 5vw;
  }

  .form-row {
    flex-direction: column;
  }

  .form-column {
    width: 100%;
  }

  .form-cont not input[type='radio'],
  .form-cont select {
    width: 75%;
  }

  #survey select {
    margin-left: 1rem;
  }

  .sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sidebar nav {
    top: 0;
    margin: 0;
    padding: 0;
    position: relative;
  }

  .sidebar nav p {
    font-size: 1.5rem;
    text-align: center;
  }

  .sidebar li {
    font-size: 1.3rem;
    margin: 1em;
  }

  .sidebar li a {
    font-size: 1.3rem;
  }

  .article_links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0;
    position: relative;
  }

  .article_links li {
    width: 90%;
    margin: 1rem 0;
  }
  .article_links p {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 970px) and (min-width: 551px) {
  .grid {
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 6rem 1fr 60em 8rem;
    grid-template-areas:
      'header header'
      'sidebar main_content'
      'sidebar article_links'
      'footer footer';
  }

  #logo {
    width: 40%;
  }

  #date {
    font-size: 1.5vh;
  }

  #social li {
    margin: 0 2vw;
  }

  #social svg {
    width: 3vw;
    height: auto;
  }

  .form-cont {
    margin: 5rem 5vw;
  }

  .sidebar nav {
    margin-left: 0.5em;
  }

  .sidebar li,
  .sidebar li a {
    font-size: 2vw;
    margin: 4vh 0;
  }

  .sidebar nav p {
    font-size: 2.5vw;
  }

  .article_links ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0;
    position: relative;
  }

  .article_links li {
    width: 60vw;
    margin: 2rem 0;
  }
  .article_links p {
    font-size: 1.4rem;
  }
}
