@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1c1d1f;
}

.navbar {
  background-color: #1c1d1f;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0px;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.navbar ul {
  list-style: none;
}

.navbar li {
  display: inline-block;
  margin: 0 20px;
}

.navbar a {
  text-decoration: none;
  color: azure;
}

.navbar a:hover {
  color: #13cfa9;
  transition: all 0.4s ease 0s;
}

.main_container {
  background-color: #f5efeb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 1px 1px #1c1d1f15;
  font-family: 'Lora', serif;
  color: #000000;
  margin: 30px 11vw;
  padding: 20px 40px;
}

.inner section {
  padding: 20px 0;
}

.inner h1 {
  font-family: 'Karla', sans-serif;
  font-size: 38px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 20px;
  text-decoration: underline double;
}

.inner h2 {
  font-size: 28px;
}

.inner h3 {
  font-size: 24px;
}

.inner p {
  font-size: 20px;
  padding: 15px 0;
}

.inner a {
  text-decoration: underline;
}

.inner ol {
  list-style-position: inside;
}

.vertical {
  width: 20vw;
  height: auto;
}

.horizontal {
  width: 60vw;
  height: auto;
}

.inner figure {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0;
}

.inner figcaption {
  font-weight: 600;
  font-style: italic;
  padding-top: 10px;
}

#albums ol {
  padding-top: 20px;
}

#albums li {
  font-size: 26px;
  font-weight: 500;
}

.album_gallery {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 60vw;
}

.album_gallery img {
  width: 22vw;
  height: auto;
  padding: 0 2px;
}

.inner iframe {
  display: block;
  margin: 50px 0;
  margin-left: auto;
  margin-right: auto;
  width: 56vw;
  height: 54vh;
}

.contents li {
  font-size: 18px;
}

.footer {
  background-color: #24252a;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 60px 0;
  font-family: 'Lora', serif;
  font-size: 14px;
  color: azure;
}

.footer a {
  color: azure;
}

.footer a:hover {
  color: #13cfa9;
  transition: all 0.4s ease 0s;
}

.social {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.social ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.social li {
  margin: 0 10px;
}

.social path {
  fill: azure;
}

.social svg:hover path {
  fill: #13cfa9;
  transition: all 0.4s ease 0s;
}

.inner form {
  display: block;
  line-height: 2;
}

.inner label {
  display: block;
  font-size: 20px;
  font-weight: 500;
}

.inner input {
  display: block;
  width: 250px;
  margin: 20px 0;
  line-height: 2;
}

#submit_button {
  background-color: #1c1d1f;
  border-radius: 20px;
  font-size: 22px;
  font-family: 'Karla', sans-serif;
  color: azure;
  border: 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 100px;
}

#submit_button:hover {
  color: #13cfa9;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}
